* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    outline: none;
    scrollbar-width: 5px;
    scrollbar-track-color: rgb(15, 15, 15);
    letter-spacing: 1.5px;
}

.homescreen {
    background-color: rgb(37, 37, 37);
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: black;
    left: 20px;
    top: 60px;
}

.window {
    background-color: black;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.25s ease-out;

}
.window .nav {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: gray;
}

/*.window .nav*/ .btn-group {
    position: relative;
    width: 80px;
    height: 100%;
    border-left: solid 2px rgba(128, 128, 128, 0);
    border-right: solid 2px rgba(128, 128, 128, 0);
    display: flex;
    align-items: center;
}

.window .nav .btn-group .btn-exit {
    margin-left: 4px;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px;
    background-color: red;
}

.window .nav .btn-group .btn-hide {
    position: relative;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px;
    background-color: green;
}

.window .nav .btn-group .btn-max {
    position: relative;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px;
    background-color: rgb(255, 154, 2);
}

/*.window .nav .btn-group*/ .btn {
    border-left: solid 2px rgba(128, 128, 128, 0);
    border-right: solid 2px rgba(128, 128, 128, 0);
}

/*.window .nav .btn-group*/ .btn:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.cli {
    position: relative;
    width: 100%;
    height: auto;
    font-weight: 500;
    /*white-space: pre-wrap;*/
}

.cli .success {
    position: relative;
    color: rgb(0, 202, 0);
    /*font-weight: 500;*/
}

.cli .error {
    position: relative;
    color: rgb(202, 0, 0);
    /*font-weight: 500;*/
}

.cli .warning {
    position: relative;
    color: rgb(202, 155, 0);
    /*font-weight: 500;*/
}

.cli .directory {
    position: relative;
    color: rgb(0, 111, 202);
    /*font-weight: 500;*/
}

.cli .text {
    position: relative;
    color: rgb(255, 255, 255);
    /*font-weight: 500;*/
}

.cli .buffer-bar {
    position: relative;
    background-color: white;
    color: white;
    width: 15px;
    height: 30px;
    font-weight: 250;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.search-bar {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgb(66, 66, 66);
    font-weight: 500;
    display: flex;
    align-items: center;
}

/*.search-bar*/ .save {
    text-align: center;
    position: relative;
    width: 70px;
    height: 30px;
    border-radius: 10%;
    background-color: rgb(151, 47, 47);
}

.search-bar input {
    width: 100%;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

.window .web-area {
    background-color: white;
    position: relative;
    width: 100%;
    height: 80%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.text-editor {
    font-size: 28px;
    background-color: white;
    color: black;
    position: relative;
    width: 100%;
    height: 80%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.text-editor .text {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.text-editor .buffer-bar {
    font-size: 22px;
    font-weight: 100;
    background-color: black;
    position: relative;
    width: 1px;
    height: 1px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.finder-window {
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
}

.finder-window .finder {
    position: relative;
    width: 70%;
    height: 100%;
    background-color: rgb(39, 39, 39);
}

.finder-window .navigator {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: rgb(22, 22, 22);
}

.finder .list {
    position: relative;
    margin-left: 5px;
    width: 100%;
    height: 100%;
    marker: none;
}

.finder .list li {
    position: relative;
    border: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    list-style-type: none;
}

.finder .icon {
    position: relative;
    width: 50x;
    height: 50px;
    margin-left: 2px;
    background-color: royalblue;
}

.loader {
    position: relative;
    background-color: rgb(202, 155, 0);
    color: rgb(202, 155, 0);
    font-weight: 100;
}

.boot {
    font-weight: 279;
}

.logo {
    position: relative;
    font-size: 200px;
    font-weight: 300;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
}

@keyframes blink {
    0% {opacity: 1;}
    15% {opacity: 0;}
    50% {opacity: 1;}
    65% {opacity: 0;}
    100% {opacity: 1;}
}
