* {
    animation-name: glitch;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 7200ms;
}

@keyframes glitch {
    0% {filter: brightness(0%);}
    9% {filter: brightness(0%);}
    10% {filter: brightness(100%) hue-rotate(0deg) contrast(500%); font-size: 30px;}
    45% {filter: brightness(100%) hue-rotate(-45deg) contrast(100%);}
    46% {filter: brightness(0%);}
    50% {filter: brightness(0%);}
    59% {filter: brightness(0%);}
    60% {filter: brightness(100) hue-rotate(-90deg) contrast(500); font-size: 16px;}
    95% {filter: brightness(100%) hue-rotate(-180deg) contrast(500);}
    96% {filter: brightness(0%);}
    100% {filter: brightness(0%);}
}