<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/gui.stylesheet.css" type="text/css">
    <link rel="stylesheet" href="../static/boot.stylesheet.css" type="text/css">
    <script type="text/javascript" src="../static/gui.js"></script>
    <script type="text/javascript" src="../static/applications.js"></script>
    <script type="text/javascript" src="../static/browser.js"></script>
    <script type="text/javascript" src="../static/filesystem.js"></script>
    <script type="text/javascript" src="../static/finder.js"></script>
    <script type="text/javascript" src="../static/terminal.js"></script>
    <title>Document</title>
</head>
<body style="background-color: black;">
    <div id="boot" class="boot cli" style="position: relative; width: 100vw; height: 100vh;"></div>
    <script type="text/javascript" src="../static/bootloader.js"></script>
</body>
</html>